<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="/favicon.ico">
    <title>client</title>
    <link href="/static/css/chunk-24604dcf.0634d5cd.css" rel="prefetch">
    <link href="/static/css/chunk-26c8f856.e652f12e.css" rel="prefetch">
    <link href="/static/css/chunk-396721ce.0634d5cd.css" rel="prefetch">
    <link href="/static/css/chunk-58753782.7a955f2f.css" rel="prefetch">
    <link href="/static/css/chunk-6338de99.0046498d.css" rel="prefetch">
    <link href="/static/css/chunk-76a9afec.b810ce5f.css" rel="prefetch">
    <link href="/static/css/chunk-77274905.c8a725f2.css" rel="prefetch">
    <link href="/static/css/chunk-8c429e58.0634d5cd.css" rel="prefetch">
    <link href="/static/css/chunk-8ce7ffa2.ca2493f1.css" rel="prefetch">
    <link href="/static/js/chunk-24604dcf.07b318d4.js" rel="prefetch">
    <link href="/static/js/chunk-26c8f856.fc3c28db.js" rel="prefetch">
    <link href="/static/js/chunk-396721ce.898e610e.js" rel="prefetch">
    <link href="/static/js/chunk-3fd047cc.ec5df7be.js" rel="prefetch">
    <link href="/static/js/chunk-48075916.056e8152.js" rel="prefetch">
    <link href="/static/js/chunk-58753782.0e6cdc5a.js" rel="prefetch">
    <link href="/static/js/chunk-6338de99.e978d58f.js" rel="prefetch">
    <link href="/static/js/chunk-76a9afec.a2eb8040.js" rel="prefetch">
    <link href="/static/js/chunk-77274905.5e013794.js" rel="prefetch">
    <link href="/static/js/chunk-8c429e58.732cbabf.js" rel="prefetch">
    <link href="/static/js/chunk-8ce7ffa2.04899b53.js" rel="prefetch">
    <link href="/static/css/app.3a78b41c.css" rel="preload" as="style">
    <link href="/static/js/app.e3600619.js" rel="preload" as="script">
    <link href="/static/js/chunk-vendors.334b6592.js" rel="preload" as="script">
    <link href="/static/css/app.3a78b41c.css" rel="stylesheet">
</head>
<body>
<noscript><strong>We're sorry but client doesn't work properly without JavaScript enabled. Please enable it to
    continue.</strong></noscript>
<div id="app"></div>
<script src="/static/js/chunk-vendors.334b6592.js"></script>
<script src="/static/js/app.e3600619.js"></script>
</body>
</html>